body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: beige;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inputDiv {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}

#inputDiv button {
  background-color: chocolate;
}

#inputDiv h3 {
  display: flex;
}
